src/Python/Scrapy/under_construction/**
__pycache__/**
config/**
venv/**
src/R/.Rproj.user/**
src/Python/Scrapy/stream/__pycache__/**

*.vscode
*.pper
*.pyc
*.code-workspace
.DS_Store

R.Rproj
*.Rhistory
*.ipynb_checkpoints

config.py
__init__.py
items.py
middlewares.py
pipelines.py
*.cfg
.Rproj.user
